*{
  margin: 0;
  padding: 0;
  background-color: #e2dddd;
}
/* 
.navbar{
  background-color: #fff;
} */

.navbar ul li a{
  font-size: 16px;
  margin-left: 15px;
  text-transform: uppercase;
}
.navbar ul li a:hover{
  color: #132635;
  cursor: pointer;
}

.menu-active{
  font-weight: bold;
  border: 1px solid black;
}

/* --------Home--------- */

.btn-all{
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #132635;
  color: white;
  text-decoration: none;
}

.home-row{
  height: 90vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
}

.home-col-1{
  flex-basis: 40%;
  padding: 30px 30px;
  /* background-color: blue; */
}

.home-col-1 h3{
  margin-bottom: 40px;
}

.home-col-2{
  flex-basis: 50%;  
  /* background-color: blue; */
}

.home-image{
  border-radius: 10px;
  /* background-color: blue; */

}

.home-image img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

@media (max-width:700px){
  .home-row{
    flex-direction: column;
  }
}

/* -------About-------- */

.about{
  width: 90%;
  height: 90vh;
  margin: auto;
}
.about-row{
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  /* background-color: red; */
}

.about-col{
  flex-basis: 50%;
  /* background-color: blue; */
}

.about-col h3{
  margin-bottom: 30px;
}

.about-col h1{
  text-align: center;
  line-height: 50px;
}

.about-col .about-img{
  /* background-color: blue; */
}

.about-img img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.about-info .btn-all{
  margin-left: 33%;
}

@media(max-width: 700px){

  .about-row{
    margin-top: 70px;
    flex-direction: column;
    gap: 50px;
  }
}

/* ---------Contact--------- */

.contact{
  height: 90vh;
  width: 100%;
  /* background-color: green; */
  position: relative;
  padding: 8% 27%;
  /* padding: 100px 400px; */
}

.contact-row{
  width: 40%;
  height: 70%;
  position: absolute;
  text-align: center;
}

.contact-row h2{
  font-size: 20px;
  margin-bottom: 20px;
}

.contact-row form{
  width: 100%;
}

.contact-row form input, .contact-row form textarea{
  width: 90%;
  padding: 10px 5px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 2px;
}


.contact-row form textarea{
  margin-bottom: 20px;
}

@media(max-width: 700px){
    .contact{
      padding: 10% 10%;
    }

    .contact-row{
      width: 80%;
    }
}